#root {
  position: absolute; /* Updated from relative to absolute */
  top: 50px; /* Position from the top */
  left: 220px; /* Initial left position */
  margin: 0 auto; /* Centering horizontally if applicable, may need adjustment due to absolute positioning */
  padding: 2rem; /* Padding around the content */
  transition: left 0.3s ease; /* Smooth transition for the left property */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

#mainlayout {
  padding-left: 0px;
}

.read-the-docs {
  color: #888;
}

.App {
  display: flex;
  flex-direction: row; /* Default to row layout */
  justify-content: space-around;
  gap: 4em;
  padding-top: 10px;
  scale: 0.9;
}

/* Media Query for smaller screens */
@media (max-width: 1500px) { /* Adjust this breakpoint as needed */
  .App {
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: center; /* Center align the items horizontally */
    gap: 2em; /* Reduce gap for vertical stacking */
  }
}

.left-half {
  border-radius: 12px;
  padding: 18px;
  padding-top: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
  width: 36rem;
  position: relative;
}

.right-half {
  margin-top: 17px;
  height: 80vh;
  width: 50rem;
  background-color: white;
  overflow: auto; /* Add scrollbars if content overflows */
  border-radius: 3px;
  border: none;
}

.innerH2 {
  font-size: 1.25rem;
  color: var(--purple);
}

.input-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: var(--txt);
  margin-left: 8px;
  font-size: 17px;
}

.eduInputText {
  width: 530px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.input-field {
  border-width: 1px;
  padding: 10px;
  font-size: 1rem;
  gap: 8px;
}

.inputs {
  border-radius: 10px;
  background-color: rgb(61, 61, 64);
  border-color: rgb(61, 61, 64);
  color: white;
  font-size: 17px;
  padding: 10px;
}

.fullWidth {
  width: 91%;
  margin-top: 12px;
}

#country, #endDate {
  margin-left: 24px;
}

.inputs:focus {
  color: rgb(117, 117, 117);
  background-color: black;
  font-family: 'Quicksand', sans-serif;
  border: 2px solid var(--purple);
  transition-duration: .3s;
  color: white;
}

.personal, .professional, .education {
  display: grid;
  gap: 12px;
  background-color: rgb(32, 34, 34);
}

#pers {
  margin-bottom: 8px;
}

.emailNumber {
  display: flex;
  flex-direction: row;
  margin: 0px;
  gap: 40px;
}

.education {
  padding-right: 0px;
  background-color: rgb(32, 34, 34);
  border-radius: 10px;
  margin-bottom: 8px;
}

.certificates {
  display: grid;
  gap: 12px;
  background-color: rgb(32, 34, 34);
  border-radius: 10px;
  padding-right: 0px;
}

#issueDateSubtitle {
  position: relative;
  top: 12px;
}

.skills {
  display: grid;
  gap: 12px;
  background-color: rgb(32, 34, 34);
  border-radius: 10px;
  padding-right: 0px;
}

#profTitle {
  margin-top: 0;
  margin-bottom: 0;
}

#certTitle {
  margin-top: 10px;
}

#educationBottom {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

#certificatesBottom {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

#certificates {
  margin-bottom: 8px;
}

#skills {
  margin-bottom: 8px;
}

#skillsBottom {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.educationInputs {
  width: 100%;
}

.titleSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.eduTitle {
  padding: 20px;
}

.personal {
  padding: 8px;
  background-color: rgb(32, 34, 34);
  border-radius: 10px;
}

.titleSection {
  background-color: rgb(32, 34, 34);
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.certTitle {
  padding: 20px;
  margin-top: 0px;
}

.skillTitle {
  padding: 20px;
  margin-top: 0px;
}

#allProf {
  background-color: rgb(32, 34, 34);
  border-radius: 10px;

}

#careerSummaryPersonal {
  max-width: 529.008px;
  max-height: 400px;
  min-height: 64px;
  border-radius: 10px;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}

#emailPersonal {
  width: 270px;
  margin-top: 12px;
}

#phonePersonal {
  margin-top: 12px;
}



#city, #country, #startDate, #email, #endDate, #phone {
 width: 100%; 
 gap: 12px;
}

.address {
  width: 95.8%;
  margin-top: 12px;
}

#position.inputs {
  width: 96%;
}

.address.inputs {
  width: 94%;
}

html {
  height: 100vh;
}

/* App.css (or your preferred CSS file) */

.accordion {
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-height: 80vh;  /* Default max-height for wider screens */
}

@media (max-width: 1500px) {
  .accordion {
    max-height: none;  /* Remove max-height when the viewport width is 1500px or less */
  }
}

.accordion-section {
  background-color: rgb(29, 29, 32);
  border-radius: 12px;
  padding: 8px;
  padding-left: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
  margin-bottom: 10px; /* Adds a gap between sections */
  overflow: hidden;
}

.accordion-section.open {
  border-color: #007bff; /* Border color when section is open */
}

.accordion h2 {
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
}

.left-half h2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 24px;
}

.open {
  transform: rotate(180deg); /* Rotate the icon 180 degrees when the section is open */
  transition: transform 0.3s ease; /* Apply a 0.3s transition to the transform property */
}

.checkbox {
  height: 25px;
  width: 25px;
}

.checkbox:hover {
  cursor: pointer;
}

#presentBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

figure {
  max-width: 100%; /* Adjust as needed to control the width */
  max-height: 100%; /* Adjust as needed to control the height */
}

hr {
  width: 100%;
}

.subLabel {
  color: white;
  font-size: 12px;
  padding: 4px;
  margin-left: 8px;
}

.saveCancel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

button {
  width: 88px;
  height: 32px;
  border-radius: 14px;
  border: none;
  color: white;
  background-color: var(--purple);
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

#userInfo, #employerMonths, #schoolDates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editSection {
  overflow: hidden;
  height: 95px;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

#begin {
  float: right;
  white-space: nowrap;
}

#position {
  width: 95%;
}

.educationInputs {
  width: 95%;
}

.datePickers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selectInputs {
  display: flex;
  flex-direction: row;
  gap: 8px;
  z-index: 1;
}

.selectInputs2 {
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  z-index: 1;
}

.presentCheck {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  height: 50px;
  margin-bottom: 10px;
}

.isPresent {
  position: relative;
  bottom: 7.5px;
  right: 8px;
  color: rgb(203, 200, 200);
}

.saveButton {
  position: relative;
  margin-top: 20px;
  left: 297px;
  height: 60px;
  width: 120px;
  border-radius: 20px;
  font-size: 24px;
}

.saveButton2 {
  position: relative;
  margin-top: 20px;
  height: 60px;
  width: 120px;
  top: 15px;
  right: 39px;
  border-radius: 20px;
  font-size: 24px;
}

.saveButton3 {
  position: relative;
  margin-top: 20px;
  height: 60px;
  width: 120px;
  left: 37px;
  border-radius: 20px;
  font-size: 24px;
}

.cancelButton {
  position: relative;
  left: 280px;
  height: 60px;
  width: 120px;
  border-radius: 20px;
  font-size: 24px;
  background-color: transparent;
}

.cancelButton2 {
  position: relative;
  height: 60px;
  width: 120px;
  top: 15px;
  right: 56px;
  border-radius: 20px;
  font-size: 24px;
  background-color: transparent;
}

.cancelButton3 {
  position: relative;
  height: 60px;
  width: 120px;
  left: 20px;
  border-radius: 20px;
  font-size: 24px;
  background-color: transparent;
}

.mediumWidth {
  width: 265px;
}

/* QUILL EDITOR FORMATTING */
.employer-description p {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Montserrat";
  font-style: normal;
}

.employer-description h1 {
  font-weight: 400;
  font-size: 20pt;
  font-family: "Arial";
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.05;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
  page-break-after: avoid;
}

.professional h2 {
  color: #757575;
}

.employer-description h2 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 16pt;
  font-family: "Arial";
  font-style: normal;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.05;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
  page-break-after: avoid;
}

.employer-description h3 {
  font-size: 14pt;
  color: #434343;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.05;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
  page-break-after: avoid;
}

.employer-description strong {
  font-size: 10pt;
  font-weight: 700;
  font-family: "Montserrat";
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal;
  padding-top: 0pt;
  padding-bottom: 0.5pt;
  line-height: 1.05;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin: 0;
}

.employer-description em {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  padding-top: 0pt;
  padding-bottom: 0.5pt;
  line-height: 1.05;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin: 0;
}

.employer-description u {
  color: #000000;
  vertical-align: baseline;
  font-size: 10pt;
  font-style: normal;
  text-decoration-skip-ink: none;
  font-family: "Montserrat";
  font-weight: 400;
  text-decoration: underline;
  padding-top: 0pt;
  padding-bottom: 0.5pt;
  line-height: 1.05;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin: 0;
}

.employer-description li {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Montserrat";
  font-style: normal;
  padding-top: 0pt;
  padding-bottom: 0.5pt;
  line-height: 1.05;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.employer-description ul {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Montserrat";
  font-style: normal;
  padding-top: 0px;
  padding-bottom: 0.5pt;
  line-height: 1.05;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin: 0px;
}
.employer-description ol {
padding-inline-start: 40px;
}

.titleWhite {
  color: white;
}

.titleSection:hover {
  cursor: pointer;
}

.collapsed {
  display: none;
  gap: 12px;
  width: 100%;
}

.titleGrey {
  color: #757575;
}

.professional {
  padding: 12px;
}

.hide-section {
  display: none;
}

.move-section {
  position: relative;
  bottom: 60px;
}

#top-top {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  font-size: 20px;
  max-width: 500px;
  z-index: 99;
}

.topSubtitle {
  display: flex;
  flex-direction: row;
}

.top-right {
  font-style: italic;
  font-weight: normal;
  max-width: 275px;
  min-width: 60px;
  height: 24px;
  max-height: 24px;
}

.top-left {
  max-width: 275px;
  resize: none; 
  height: 24px;
  max-height: 24px;
  overflow: hidden;
}

#bottom-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

#bottom-row {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.bottom-left {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 18px;
}

.bottom-right {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 18px;
  overflow: hidden;
}

#profHist {
  color: white;
}

#eduHist {
  color: white;
}

#certHist {
  color: white;
}

#skillHist {
  color: white;
}

.profHistoryEntry {
  padding: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 10px;
  height: 135px;
  transition: all 0.5s ease;
  position: relative;
  z-index: 99;
}

.placeholder {
  height: 50px; /* Adjust height as needed */
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px dashed #ccc;
  transition: all 0.3s ease;
}

.eduHistoryEntry {
  padding: 18px;
  margin-top: 10px;
  max-height: 80px;
}

.certHistoryEntry {
  padding: 18px;
  margin-top: 10px;
  max-height: 80px;
}

.skillHistoryEntry {
  padding: 18px;
  margin-top: 10px;
  max-height: 80px;
}

#topLine {
  position: relative;
  top: 0px;
  margin-top: 0px;
}

#newEduExperience {
  display: none;
}

.toggle-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: space-around;
  height: 40px;
  gap: 24px;
}

.toggle-button:hover {
  cursor: pointer;
}

.visible {
  position: relative;
  bottom: 30px;
  height: 40px;
  width: 40px;
  z-index: 1;
}

.hidden {
  position: relative;
  bottom: 30px;
  height: 40px;
  width: 40px;
  z-index: 1;
}

.hide {
  display: none;
}

.display {
  display: inline;
}

.profInputs {
  display: none;
}

.eduInputs {
  display: none;
  padding: 12px;
  padding-right: 0px;
}

.certInputs {
  display: none;
  padding: 12px;
  padding-right: 0px;
  height: 270px;
}

.skillInputs {
  display: none;
  padding: 12px;
  padding-right: 0px;
}

#profHist {
  display: inline;
}

#prof {
  margin-top: 8px;
}

#addProf {
  position: relative;
  width: 300px;
  height: 56px;
  font-size: 20px;
  margin-top: 8px;
}

#addEdu {
  position: relative;
  bottom: 10px;
  width: 160px;
  height: 56px !important;
  font-size: 20px;
  margin-top: 8px;
}

#addCert {
  position: relative;
  bottom: 10px;
  width: 160px;
  height: 56px !important;
  font-size: 20px;
  margin-top: 8px;
}

#addSkill {
  position: relative;
  bottom: 10px;
  width: 160px;
  height: 56px !important;
  font-size: 20px;
  margin-top: 8px;
}

#addButtonProf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: 8px;
  padding-bottom: 12px;
}

#addButtonEdu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
}

#addButtonCert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
}

#addButtonSkill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.heightAdjust {
  height: 0px  !important;
}

.heightAdjustCert {
  padding-bottom: 0px;
}

.heightAdjustSkills {
  padding-bottom: 0px;
}

.spaceAtBottom {
  margin-bottom: 6px;
}

.space-left {
  position: relative;
  left: 12px;
}

.error {
  color: red;
  font-size: 12px;
  padding: 4px;
  margin-left: 8px;
}

.ql-toolbar, .ql-container {
  margin-left: 12px !important;
  margin-right: 12px !important;
}

/* Skills */

.items span {
  font-size: 16px;
  background-color: var(--purple);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 12px;
  display: inline-block;
}
.items i{
  margin-left: 5px;
  cursor: pointer;
}

#itemsContainer {
  padding-left: 20px;
  padding-right: 12px;
}

.addSkills {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 12px;
  padding-bottom: 12px;
}

#add {
  bottom: 10px;
  width: 100px;
  height: 40px !important;
  font-size: 20px;
  margin-top: 8px;
}

#input-add {
  width: 400px;
}

#generate {
  gap: 4px;
  padding-right: 12px;
}

#generateIcon {
  transition: opacity 0.3s ease;
  scale: 0.7;
  position: relative;
  left: 4px;
}

/* Disables the collapsible section titles */
.disabled {
  pointer-events: none;
  cursor: default;
}

#savePersonal {
  left: 420px;
}

#personalCollapsible {
  display: flex;
  flex-direction: column;
}

.marginBottom {
  margin-bottom: 6px;
}

.hoverName {
  color: white;
  font-weight: normal;
  padding: 12px;
}

.hoverName:hover {
  cursor: pointer;
}

#personalDetailsInfoSection {
  color: lightgray;
  padding: 10px;
}

.PersonalDetailsRows {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  scale: .75;
  position: relative;
  right: 50px;
}

.dragIcon {
  position: relative;
  bottom: 31px;
  z-index: 99;
}

.dragIcon:hover {
  cursor: all-scroll;
}

/* Add cursor style during drag */
.dragging {
  cursor: grabbing !important; /* Force cursor style to grabbing during drag */
}

.gu-mirror {
  opacity: 0.5; /* Make the mirror element semi-transparent */
  position: absolute; /* Ensure the mirror follows the cursor */
  pointer-events: none; /* Allow pointer events to pass through the mirror */
  display: none;
}

.gu-transit {
  opacity: 0.3; /* Make the placeholder element semi-transparent */
}