#root {
  position: absolute;
  top: 50px;
  left: 300px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

#mainlayout {
  padding-left: 0px;
}

.read-the-docs {
  color: #888;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 7em;
}

.left-half {
  background-color: rgb(17, 16, 17);
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
  width: 30rem;
}

.right-half {
  margin-top: 17px;
  height: 80vh;
  width: 50rem;
  background-color: white;
  overflow: auto; /* Add scrollbars if content overflows */
  border-radius: 6px;
  border: none;
}

.innerH2 {
  font-size: 1.25rem;
  color: var(--purple);
}

.project-title h2 {
  color: var(--txt);
}

.input-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: var(--txt);
  margin-left: 8px;
  font-size: 17px;
}

.input-field {
  border-width: 1px;
  padding: 10px;
  font-size: 1rem;
  gap: 8px;
}

.inputs {
  border-radius: 10px;
  background-color: rgb(61, 61, 64);
  border-color: rgb(61, 61, 64);
  color: white;
  font-size: 17px;
  padding: 10px;
}

.inputs:focus {
  color: rgb(117, 117, 117);
  background-color: black;
  font-family: 'Quicksand', sans-serif;
  border: 2px solid var(--purple);
  transition-duration: .3s;
  color: white;
}

.personal, .professional, .education {
  display: grid;
  gap: 12px;
}

.emailNumber {
  display: flex;
  flex-direction: row;
  width: f
}

#city, #country, #startDate, #endDate, #email, #phone {
  width: 100%;
}

html {
  height: 100vh;
}

/* App.css (or your preferred CSS file) */

.accordion {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.accordion-section {
  background-color: rgb(29, 29, 32);
  border-radius: 12px;
  padding: 8px;
  padding-left: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
  margin-bottom: 10px; /* Adds a gap between sections */
  overflow: hidden;
}

.accordion-section.open {
  border-color: #007bff; /* Border color when section is open */
}

.accordion h2 {
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
}

.left-half h2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 24px;
}

.expand-icon {
  transition: transform 0.3s ease; /* Apply a 0.3s transition to the transform property */
}

.open .expand-icon {
  transform: rotate(180deg); /* Rotate the icon 180 degrees when the section is open */
}

.checkbox {
  height: 25px;
  width: 25px;
}

.checkbox:hover {
  cursor: pointer;
}

#presentBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

figure {
  max-width: 100%; /* Adjust as needed to control the width */
  max-height: 100%; /* Adjust as needed to control the height */
}

hr {
  width: 100%;
}

.saveCancel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

button {
  width: 88px;
  height: 32px;
  border-radius: 14px;
  border: none;
  color: white;
  background-color: var(--purple);
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

#userInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#begin {
  float: right;
  white-space: nowrap;
}
