/* Import Google Fonts */
@import url(https://themes.googleusercontent.com/fonts/css?kit=-lTUqgJg2dxbe4D7B5DEIA3jn2WilaVUapNOYl4762s);

/* List Styles */
.lst-kix_wgli50ijih94-8>li:before { content: "\0025a0   "; }
.lst-kix_wgli50ijih94-5>li:before { content: "\0025a0   "; }
.lst-kix_oz2sfjwt9xlu-8>li:before { content: "\0025a0   "; }
.lst-kix_wgli50ijih94-6>li:before { content: "\0025cf   "; }
.lst-kix_wgli50ijih94-7>li:before { content: "\0025cb   "; }
.lst-kix_oz2sfjwt9xlu-7>li:before { content: "\0025cb   "; }
.lst-kix_wgli50ijih94-1>li:before { content: "\0025cb   "; }
.lst-kix_wgli50ijih94-0>li:before { content: "\0025cf   "; }
.lst-kix_wgli50ijih94-2>li:before { content: "\0025a0   "; }
.lst-kix_wgli50ijih94-4>li:before { content: "\0025cb   "; }
.lst-kix_wgli50ijih94-3>li:before { content: "\0025cf   "; }

/* List Styles - Remove List Bullets */
ul.lst-kix_oz2sfjwt9xlu-0,
ul.lst-kix_wgli50ijih94-8,
ul.lst-kix_oz2sfjwt9xlu-1,
ul.lst-kix_oz2sfjwt9xlu-2,
ul.lst-kix_wgli50ijih94-6,
ul.lst-kix_oz2sfjwt9xlu-3,
ul.lst-kix_wgli50ijih94-7 {
  list-style-type: none;
}

/* Additional List Styles */
.lst-kix_yogqjw9c8tuq-3>li:before { content: "\0025cf   "; }
.lst-kix_yogqjw9c8tuq-5>li:before { content: "\0025a0   "; }
.lst-kix_yogqjw9c8tuq-4>li:before { content: "\0025cb   "; }
ul.lst-kix_oz2sfjwt9xlu-8 { list-style-type: none; }
ul.lst-kix_wgli50ijih94-0 { list-style-type: none; }
.lst-kix_oz2sfjwt9xlu-0>li:before { content: "\0025cf   "; }
.lst-kix_oz2sfjwt9xlu-1>li:before { content: "\0025cb   "; }
ul.lst-kix_wgli50ijih94-1 { list-style-type: none; }
.lst-kix_yogqjw9c8tuq-7>li:before { content: "\0025cb   "; }
ul.lst-kix_oz2sfjwt9xlu-4 { list-style-type: none; }
ul.lst-kix_wgli50ijih94-4 { list-style-type: none; }
ul.lst-kix_oz2sfjwt9xlu-5 { list-style-type: none; }
ul.lst-kix_wgli50ijih94-5 { list-style-type: none; }
ul.lst-kix_oz2sfjwt9xlu-6 { list-style-type: none; }
ul.lst-kix_wgli50ijih94-2 { list-style-type: none; }
ul.lst-kix_oz2sfjwt9xlu-7 { list-style-type: none; }
ul.lst-kix_wgli50ijih94-3 { list-style-type: none; }
.lst-kix_yogqjw9c8tuq-6>li:before { content: "\0025cf   "; }
.lst-kix_oz2sfjwt9xlu-4>li:before { content: "\0025cb   "; }
.lst-kix_oz2sfjwt9xlu-5>li:before { content: "\0025a0   "; }
.lst-kix_bm5i44a1j1vy-2>li:before { content: "\0025a0   "; }
.lst-kix_bm5i44a1j1vy-4>li:before { content: "\0025cb   "; }
.lst-kix_oz2sfjwt9xlu-2>li:before { content: "\0025a0   "; }
.lst-kix_oz2sfjwt9xlu-6>li:before { content: "\0025cf   "; }
.lst-kix_bm5i44a1j1vy-3>li:before { content: "\0025cf   "; }
.lst-kix_yogqjw9c8tuq-8>li:before { content: "\0025a0   "; }
.lst-kix_bm5i44a1j1vy-0>li:before { content: "\0025cf   "; }

/* Additional List Styles - Remove List Bullets */
ul.lst-kix_bm5i44a1j1vy-6,
ul.lst-kix_bm5i44a1j1vy-7,
ul.lst-kix_bm5i44a1j1vy-4,
ul.lst-kix_bm5i44a1j1vy-5,
ul.lst-kix_bm5i44a1j1vy-2 {
  list-style-type: none;
}

.lst-kix_oz2sfjwt9xlu-3>li:before { content: "\0025cf   "; }

/* Additional List Styles - Remove List Bullets */
ul.lst-kix_bm5i44a1j1vy-3,
ul.lst-kix_bm5i44a1j1vy-0 {
  list-style-type: none;
}

.lst-kix_bm5i44a1j1vy-1>li:before { content: "\0025cb   "; }

/* Additional List Styles - Remove List Bullets */
ul.lst-kix_bm5i44a1j1vy-1 {
  list-style-type: none;
}

ul.lst-kix_bm5i44a1j1vy-8 {
  list-style-type: none;
}

ul.lst-kix_yogqjw9c8tuq-8 {
  list-style-type: none;
}

/* Additional List Styles - Remove List Bullets */
ul.lst-kix_yogqjw9c8tuq-6 {
  list-style-type: none;
}

.lst-kix_bm5i44a1j1vy-6>li:before { content: "\0025cf   "; }

/* Additional List Styles - Remove List Bullets */
ul.lst-kix_yogqjw9c8tuq-7,
ul.lst-kix_yogqjw9c8tuq-4,
ul.lst-kix_yogqjw9c8tuq-
